body {
    display: flex;
    flex-direction: column;
    margin: 15% 37% 15% 37%;
    align-items: center;
    resize: both;
    border: solid 10px aquamarine;
}

h1 {
    font-family: monospace;
    font-size: 75px;
    margin: 0;
}

p {
    font-family: monospace;
    font-size: 20px;
    margin: 1% 0 0 0;
    color:rgb(107, 0, 247);
}

h2 {
    font-family: monospace;
    font-size: 50px;
    margin: 1% 0 0 0;
}

div {
    padding: 15% 0 8% 0;
}