body {
    display: flex;
    flex-direction: column;
    margin: 0% 30% 15% 30%;
    align-items: center;
    /* resize: both;
    border: solid 10px aquamarine; */
}

h1 {
    font-family: monospace;
    font-size: 100px;
    margin: 0 0 10% 0;
    font-style: italic;
}

p {
    font-family: monospace;
    font-size: 20px;
    margin: 1% 0 0 0;
    color:rgb(107, 0, 247);
}

h2 {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    /* margin: 15% 30% 15% 30%; */
    align-items: center;
    font-size: 40px;
    /* margin: 1% 0 0 0; */
}

div {
    padding: 20% 0 0% 0;
}
/* 
.francais {
    margin: 0 0 5% 0;
} */